pytest
pytest-cov

psutil
pyyaml
sphinx
sphinxcontrib.tikz
sphinxcontrib.texfigure

bottle
sqlalchemy

pyjwt
social-auth-core

restview

#for email: https://github.com/gsuitedevs/python-samples/blob/master/gmail/quickstart/requirements.txt
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

grpcio
google-cloud-ndb
google-cloud-storage

numpy
matplotlib
lxml
sympy

